<main class="login-main">
  <div class="form-backgroud">
    <h1> Log In </h1>

    {{#if errorMessage}}
    <p class="error-message">
      {{ errorMessage }}
    </p>
    {{/if}}

    <form action="/login" method="post">
      <div>
        <input type="email" name="email" id="email-input" placeholder="Introduce your email">
      </div>

      <div>
        <input type="password" name="password" id="password-input" placeholder="Introduce your password">
      </div>
      <div class="btn-center mt10">
        <button class="black-btn"> Log In </button>
      </div>
    </form>

    <h4 class="subtitle">Don't have an account? <a href="/signup">Create an account</a></h4>
  </div>
</main>