<h2> Sign Up </h2>

{{#if errorMessage}}
<p class="error-message">
    {{ errorMessage }}
</p>
{{/if}}

<form action="/signup" method="post">
    <div>
        <label for="username-input"> Username </label>
        <input type="text" name="username" id="username-input" placeholder="username">
    </div>

    <div>
        <label for="email-input"> Email </label>
        <input type="email" name="email" id="email-input" placeholder="Introduce your email">
    </div>

    <div>
        <label for="password-input"> Password </label>
        <input type="password" name="password" id="password-input" placeholder="••••••••••••">
    </div>

    <div>
        <label for="select-input"> Are you a restaurant or a client?</label>
        <select name="isRestaurant" id="select-input">
            <option value=true>I'm a restaurant</option>
            <option value=false>I'm a client</option>
        </select>
    </div>

    <button> Create New Account </button>
</form>

<p>
    Already have an account?
    <a href="/login">
        Log in.
    </a>
</p>