
<main class="select-main">
    <div><img src="/images/logo-1.png" />
    </div>
<div class="form-backgroud ">

    <label class="pt20 " for="categories">Select a restaurant</label>
    <form method="POST" action="/client/carta-detail">
        <select name="restaurantId">
            {{#each restaurants}}
            <option value={{this._id}}>{{this.name}}</option>
            {{/each}}
        </select>
        <div class="center-div mb30">
        <button class="black-btn" type="submit">Continue</button>
    </div>
    </form>
</div>
</main>

<script>
    window.onload = getMyLocation;

var map;
function getMyLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(displayLocation);
  } else {
    alert('Oops, no geolocation support');
  }
}

function displayLocation(position) {
  //The latitude and longitude values obtained from HTML 5 API.
  var latitude = position.coords.latitude;
  var longitude = position.coords.longitude;
  console.log(latitude);
  console.log(longitude);
}
</script>
