<h1>Hello!</h1>



<ul>
    {{#if isUserLoggedIn}}
    <label for="select-input">Where are you going to eat today?</label>
        <select name="select-restaurant" id="select-restaurant">
            {{#each restaurant}}
            <option value="{{restaurant.name}}"></option>
            {{/each}}
        </select>
    {{/if}}
    <button>Go!</button>
    <a href="/logout">Logout</a>
</ul>