
<header class="restaurant-headers summary-dashboard">
<nav class="user-nav">
    <div class="logo-nav">
    </div>
    <div class="text-nav">  
 
           {{!-- <a href="/client/dashboard-client">PROFILE</a> --}}
        <a href="/client/logout">LOG OUT</a>
   
    </div>
  
</nav>
</header>



<main class="center-div mb100 w100">
    <h4 class="mt30">Table nº {{order.table}}</h4>
    <div class="form-backgroud white-back-form ">
        <h3 class=" mb30">This is your order:</h3>
    </div>  
<div class="summary-order w100 pl40 pr40">
{{#each order.dishes}}
<div class="w100" style="display: flex; justify-content: space-between;">
<h5 class="bottom-dashed">{{name}}</h5>

<div class="prices">{{price}}</div><span class="pt10">€</span>
</div>
{{/each}}
<div class="center-div">
<h6 class="mt30">Total price: </h6>
<form class="total-price-input" action="/client/order-summary/{{order._id}}/update" method="POST">
    <input id= "orderPrice" value= "" name="price">
    <p class="ta mb10">If everything it's okay proceed to finish your order.</p>
    <div class="center-div mt20">
        <button class="black-btn" type="submit">Order</button>
    </div>
</form>
</div>
</div>
</main>
<script>
function total (){
var sum = 0;
    getPrices = document.querySelectorAll(".prices")
    for (var i=0; i<getPrices.length; i++){
        sum += Number(getPrices[i].innerHTML)
    }
    console.log(sum)
    document.getElementById("orderPrice").value = sum + '€'
}
total();

</script>
