* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 1.3em;
  margin: 15px 0px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 4.2em;
  font-weight: 700;
  line-height: 1.3em;
  padding: 10px 0px;
  margin-bottom: 0px !important;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.3em;
}

h4 {
  font-size: 1.7em;
  font-weight: 400;
  margin: 8px 0px;
}

h5 {
  font-size: 1.3em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 8px 0px;
}

h6 {
  font-size: 1.1em;
  font-weight: 400;
  color: #909090;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 8px 0px;
}

p {
  font-size: 1.2em;
  font-weight: 400;
  margin: 10px 0px;
  line-height: 18px;
  color: #383838;
}
.letter-space {
  letter-spacing: 1px;
}
/* Margin-top */
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt80 {
  margin-top: 80px;
}
.mt90 {
  margin-top: 90px;
}
.mt100 {
  margin-top: 100px;
}

/* Margin-bottom */
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb100 {
  margin-bottom: 100px;
}
/* Margin-left */
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.ml50 {
  margin-left: 50px;
}
.ml60 {
  margin-left: 60px;
}
.ml70 {
  margin-left: 70px;
}
.ml80 {
  margin-left: 80px;
}
.ml90 {
  margin-left: 90px;
}
.mr100 {
  margin-left: 100px;
}
/* Margin-right */
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr40 {
  margin-right: 40px;
}
.mr50 {
  margin-right: 50px;
}
.mr60 {
  margin-right: 60px;
}
.mr70 {
  margin-right: 70px;
}
.mr80 {
  margin-right: 80px;
}
.mr90 {
  margin-right: 90px;
}
.mr100 {
  margin-right: 100px;
}

/* Padding-top */
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}
.pt60 {
  padding-top: 60px;
}
.pt70 {
  padding-top: 70px;
}
.pt80 {
  padding-top: 80px;
}
.pt90 {
  padding-top: 90px;
}
.pt100 {
  padding-top: 100px;
}

/* Padding-bottom */
.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb70 {
  padding-bottom: 70px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb90 {
  padding-bottom: 90px;
}
.pb100 {
  padding-bottom: 100px;
}

/* Padding left */
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}
.pt60 {
  padding-top: 60px;
}
.pt70 {
  padding-top: 70px;
}
.pt80 {
  padding-top: 80px;
}
.pt90 {
  padding-top: 90px;
}
.pt100 {
  padding-top: 100px;
}

/* Padding-left */
.pl10 {
  padding-left: 10px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pl40 {
  padding-left: 40px;
}
.pl50 {
  padding-left: 50px;
}
.pl60 {
  padding-left: 60px;
}
.pl70 {
  padding-left: 70px;
}
.pl80 {
  padding-left: 80px;
}
.pl90 {
  padding-left: 90px;
}
.pl100 {
  padding-left: 100px;
}
/* Padding-rigth */
.pr10 {
  padding-right: 10px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.pr40 {
  padding-right: 40px;
}
.pr50 {
  padding-right: 50px;
}
.pr60 {
  padding-right: 60px;
}
.pr70 {
  padding-right: 70px;
}
.pr80 {
  padding-right: 80px;
}
.pr90 {
  padding-right: 90px;
}
.pr100 {
  padding-right: 100px;
}
.w100{
  width: 100%;
}
.ta{
  text-align: center;
}
.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.center-div-column{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Elementos comunes */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form {
  width: 80%;
}
label {
  font-size: 1.3em;
  font-weight: 400;
  margin: 15px 0px 0px 0px;
  display: block;
  text-align: center;
}
input {
  width: 100%;
  margin-bottom: 10px;
  padding: 18px 22px;
  border: 2px solid #ebebeb;
  font-size: 11px;
  background-color: white;
  color: #4e4e4e;
  
  font-weight: 400;
  letter-spacing: 1px;
  box-sizing: border-box;
}

select {
  font-family: "Open Sans", sans-serif;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  font-size: 11px;
  background-color: white;
  color: #4e4e4e;
 
  font-weight: 400;
  letter-spacing: 1px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  padding: 13px 22px;
  border: 2px solid #ffffff;
}

.black-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(51, 51, 51);
  border-color: rgb(51, 51, 51);
  font-size: 10px;
  padding: 10px 15px;
  border: none;
  text-align: center;
  transition: all 0.3s;
}




.black-btn:hover {
  /* background-color: white;
  color: black;
  border: black solid 1px;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  transform: rotateY(-90deg); */
  }

  /* transform-origin: left; */

.black-btn a {
  color: white;
}
.black-btn a:hover {
  text-decoration: none;
}

/* .black-btn:hover{
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
} */

.white-btn{
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(51, 51, 51);
  background-color: transparent;
  border: 1px solid black ;
  font-size: 10px;
  padding: 3px 5px;
  text-align: center;
}
.grey-btn{
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 7px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(51, 51, 51);
  background-color: rgb(233, 233, 233);
  border:none ;
  padding: 3px 5px;
  text-align: center;
}

.fashion-button {
  border-style: none;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0px 15px 0px;
  display: flex;
}
.fashion-button a {
  color: black;
  font-weight: 600;
}
.fashion-button a:hover {
  text-decoration: none;
}
.fashion-button hr {
  border: black 1px solid;
  width: 20px;
  margin: 3px auto 25px auto;
  transition: 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
}
.fashion-button:hover hr {
  border: black 1px solid;
  width: 100%;
  margin: 3px auto 25px auto;
}
.btn-center {
  display: flex;
  justify-content: center;
}
.subtitle {
  font-size: 12px;
  margin-top: 30px;
}
.nav-link {
  color: black !important;
}
/* Headers */
.restaurant-headers {
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.restaurant-dashboard {
  background-image: url("/images/test1.jpg");
}
.dishes-dashboard {
  background-image: url("/images/dishes2.jpg");
  background-position-y: top 35%;
}
.menu-dashboard{
  background-image: url("/images/menu.jpg");
  background-position-y: top 20%;
}
.orders-dashboard{
  background-image: url("/images/orders.jpg");
  background-position-y: bottom 40%;
}
.restaurant-dashboard-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-dashboard {
  height: 70vh;
  text-align: center;
  padding: 0px 40px;
  margin-top: 10px;
}
.main-dashboard > h3 {
  margin-bottom: 0px;
}
.main-dashboard > p {
  margin-top: 5px;
}
.main-dashboard-elements{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sign up */
.signup-main {
  height: 100vh;
  background-image: url("/images/signup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-backgroud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  margin: 0px 40px;
}

.form-backgroud input {
  border: none;
}

/* Log In */
.login-main {
  height: 100vh;
  background-image: url("/images/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Restaurant forms */
.white-back-form input {
  border: none;
  height: 8px;
  border-bottom: 1px solid black;
  padding: 15px 0px 15px 5px;
}

.white-back-form select {
  height: 40px;
  border-bottom: 1px solid black;
  padding: 10px 0px 15px 5px;
}

/* Dishes */
.element {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10px 40px;
}
.element-row {
  display: flex;
  width: 100%;
  height: 20px;
  justify-content: space-between;
  align-items: center;
}
.element hr{
  margin: 0px;
  width: 90%;
  border: 1px #383838 dashed;
}
.element-row h5{
  margin: 0px;
  align-items: center;
}
.element-row h6{
  text-transform: none;
  margin-top: 15px
}
.element-row span{
  font-size: 12px;
}
.element-row-left{
  display: flex;
  width: 100%;
  justify-content: start;
}

/* Create menu */
.checkbox{
  display: flex; 
  align-items:center;
  justify-content: flex-start;
  margin-top: 10px;
}
.checkbox input{
  width: 10%;
  margin-bottom: 0px;
}
.checkbox label{
  font-size: 1.3em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0px;
}

/* Orders Restaurant */
.orders-display{
  background-color: white;
}
.orders-display h4{
  margin-top: 10px;
}
.orders-display hr{
  margin:5px 0px;
  
}
.orders-display button{
  font-size: 8px;
}

/* Perfil */
.perfil-main{
  height: 100vh;
  background-image: url("/images/profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#updateProfile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 80%;
  margin: 50px 40px;
  padding: 50px 40px;
}
#updateProfile h2 {
  line-height: 40px;
}
#updateProfile h4 {
  font-size: 14px;
  line-height: 18px;
}
#updateProfile img{
  height: 50px;
  margin: 20px 0px;
}
.update-profile-form{
  width: 100%;
}
.update-profile-img{
 width: 50%;
 height: 500px;
 margin-left: 70px;
 display: none;
}
.update-profile-img img{
  width: auto;
  height: 700px;
 }

/* Select restaurant */
.select-main{
  height: 100vh;
  background-image: url("/images/profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
}
.select-main img{
  height: 150px;
}
.select-main label{
  font-size: 1.3em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 8px 0px;
}
.select-main-order{
  height: 100vh;
  background-image: url("/images/update-profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
}


/* Carta detail */
.detail-dashboard{
  background-image: url("/images/carta.jpg");
}
.user-element{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.user-element > input{
  width: 20px;
  margin-bottom: 0px;
  margin-right: 5px;
}
.user-element > label{
  margin-top: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.user-element h4{
  margin: 0px
}
.user-element span{
  font-size: 12px;
}
/* Summary */
.summary-dashboard{
  background-image: url("/images/dashboard.jpg");
}
.total-price-input input{
  border: none;
  padding:0px;
  margin-top: 0px;
  text-align: center;
  font-size: 17px;
}
.bottom-dashed{
  border-bottom: black 1px dashed;
  width: 100%;
}
.prices{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/* User nav */
.summary-dashboard{
display: flex;
justify-content: flex-start;
}
.user-nav{
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.76);
  height: 40px;
  width: 100%;
}

.logo-nav img{
  height: 40px;
  padding-left: 10px;
}
.text-nav{
display: flex;
align-items: center;
}
.text-nav a{
  margin-right: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 9px;
}


/* User nav */

.home-main {
  height: 100vh;
  background-image: url("/images/menu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container img {
  width: 140px;
  margin-bottom: 40px;
}
.home-buttons{
  display: flex;
} 
.home-container{
  justify-content: flex-start;
  margin-top: 240px;
}


.element-row img{
  width:24px;
  height: 24px;
  display:flex;
  justify-content: flex-end;
}
.category-icons {
  display: flex;
  align-items: center;
}

.dishes-list-container{
  width: 100%;
}
.categories-container{
  width: 100%;
}
.category-dishes-list{
  width: 100%;
  align-items: space-between;
}
.category-elements{
  display: flex;
  width: 100%;
}
.restaurant-logo-carta-detail{
  height: 80px;
}
.element-user-carta-detail{
  width: 100%;
}




/* Responsive */
@media (min-width: 760px){
  #backgound{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .background-button{
    width: 50%;
    margin-bottom: 20px;
    justify-content: flex-start;
  }
  .background-button button{
    width: 400px !important;
  }
  .orders-title{
    margin-top: 20px;
  }
}

@media (min-width: 1024px){
  h2{font-size: 5em;}
  h3{font-size: 3em;}
  p{font-size: 1.8em;}
  input{font-size: 13px;}
  select{font-size: 13px;}
  nav{font-size: 12px; font-weight: 500; letter-spacing: 1px;}
  nav a{margin-right: 10px;}
  .black-btn{font-size: 14px; padding: 15px 20px;}
  .form-backgroud{width: 40%;}
  .form-backgroud h4{font-size: 14px;}
  .restaurant-dashboard h5{font-size: 1.5em;}
  .main-dashboard h3{font-size: 2.5em;}
  .main-dashboard a{font-size: 1.7em; font-weight: 500;}
  #updateProfile {width: 70%;}
  #updateProfile {padding: 50px 80px}
  #updateProfile img {height: 100px;}
  #updateProfile h4 {font-size: 18px; line-height: 25px;}
  #updateProfile h5 {font-size: 18px;}
  #updateProfile h6 {font-size: 18px;}
  
}

@media (min-width: 1280px){
  .element-row >h5 {font-size: 2em !important;}
  .element-row >h6 {font-size: 1.7em !important;}
  .update-profile-img{
   display: block;
   height: 100%;
   }
   .update-profile-title h3{
     font-size: 2.2em;
   }
  .main-dashboard{
    flex-direction: row;
  }
  .main-dashboard-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 70px;
  }
  .main-dashboard-elements > h3{
    
    font-size: 2.8em;
  }
  .main-dashboard-elements > button{
    margin-top: 15px;
    font-weight: 600;
  }
  .main-dashboard-elements > button a{
    font-weight: 600;
  }
  .dishes-dashbord-content h3{
    font-size: 2.8em;
    margin-bottom: 20px;
  }
  .element-row > h5{
    font-size: 1.8em;
  }
  .element-row > h4{
    font-size: 1.8em;
  }
  .element-row > h6{
    font-size: 1.3em;
  }
  .grey-btn{
    font-size: 11px;
    padding: 5px
  }
  .display-none{
    display: none;
  }
  .dishes-list-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .dishes-list{
    width: 50%;
  }
  .restaurant-headers{
    height: 40vh;
  }
  .restaurant-headers h2{
    font-size: 6.5em;
  }
  .dishes-dashboard {
  background-position-y: top 50%;
}
.categories-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.category-dishes-list{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.category-elements{
  display: flex;
  width: 50%;
}
.menu-dishes-list-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.menu-dishes-list{
  width: 33%;
}
.category-dishes-list-carta-detail{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.user-element-carta-detail{
  display: flex;
  width: 45%;
}
.categories-container h5{
  font-size: 2em;
}
.categories-container h6{
  font-size: 2em;
}
}