<h1>Profile</h1>



<ul>
    {{#if isUserLoggedIn}}
    <li> <a href="/restaurant/dishes">Your dishes</a></li>
    <li> <a href="/restaurant/menu">Your menu</a></li>
    <li> <a href="">Your orders</a></li>
    <li> <a href="/restaurant/restaurant-profile">Your profile</a></li>
    <li> <a href="/logout"> Log Out </a></li>
    {{else}}
    <li> <a href="/signup"> Sign Up </a> </li>
    <li> <a href="/login"> Log In </a> </li>
    {{/if}}
</ul>