<nav class="navbar navbar-expand-md navbar-black bg-white ">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 "></div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"
                style="color:black;rotate: 90deg; letter-spacing: -2.5px; text-align: center;">|||</span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="letter-space nav-item ">
                <a class="nav-link" href="/restaurant/restaurant-profile">PROFILE</a>
            </li>
            <li class="letter-space nav-item">
                <a class="nav-link" href="/restaurant/dishes">DISHES</a>
            </li>
            <li class="letter-space nav-item">
                <a class="nav-link" href="/restaurant/menu">MENU</a>
            </li>
            <li class="letter-space nav-item">
                <a class="nav-link" href="/restaurant/orders">ORDERS</a>
            </li>
            <li class="letter-space nav-item">
                <a class="nav-link" href="/logout">LOG OUT</a>
            </li>
        </ul>
    </div>
</nav>

<header class="restaurant-headers menu-dashboard">

    <div class="restaurant-dashboard-text">
        <h2>Menu</h2>
    </div>
</header>

<main class="center-div mb100 mt40">
<form class="white-back-form" action="/restaurant/menu" method="POST">
    <label class="mb10" for="name">Menu name</label>
    <input for="name" name="name" type="text" placeholder="Introduce your menu name">
    <label class="mb20 mt20">Select the dishes for your menu.</label>
    {{#each dishes}}
    <div class="checkbox">
        <input class="input" type="checkbox" name={{id}} value="true">
        <label for="selectedDish">{{name}}</label>
    </div>
    {{/each}}
    <div class="center-div mt30">
<button class="black-btn" type="submit">Create menu</button>
</div>
</form>

</main>


