<h1>List of orders</h1>



{{#each orders}}
<p>Table number: {{table}}</p>
    {{#each dishes}}
    {{name}}
    {{/each}}
{{price}}<br>
<form method="POST" action="/restaurant/orders/remove/{{this._id}}">
    <button type="submit">Remove order</button>
</form>
{{/each}}






